
body {
	margin: 0px;
	font-family: sans-serif;
}

h1 {
	background: #7F6FAF;
	color: white;
	border-radius: 0px 0px 100px 0px;
	padding: 14px 0px;
	padding-left: 10px;
	padding-right: 80px;
	width: 50%;
	min-width: 340px;
	font-style: italic;
	font-size: 1.7em;
}

main[id="page"] p {
	padding: 10px;
}

.imageType1 {
	width: 200px;
	height: 180px;
	border-radius: 4px;
	transition: all linear 400ms;
	margin-right: 10px;
	margin-bottom: 8px;
}

.imageType1:hover {
	box-shadow: 5px 5px 40px #AFAFAF;
}
