
body {
	margin: 0px;
	font-family: sans-serif;
}

h1 {
	background: #7F6FAF;
	color: white;
	border-radius: 0px 0px 100px 0px;
	padding: 14px 0px;
	padding-left: 10px;
	padding-right: 80px;
	width: 50%;
	min-width: 340px;
	font-style: italic;
	font-size: 1.7em;
}

main[id="page"] p {
	padding: 10px;
	font-size: 1.2em;
}

.imageType1 {
	width: 200px;
	height: 180px;
	border-radius: 4px;
	transition: all linear 400ms;
	margin-right: 10px;
	float: left;
}

.imageType1:hover {
	box-shadow: 5px 5px 40px #AFAFAF;
}

.rotateImage, .disappearReappearImage {
	width: 190px;
	height: 200px;
	border-radius: 10px;
	margin: 10px;
}

.sky {
	background: url("https://media.giphy.com/media/T1zgJ7cp8tWla/source.gif");
	background-size: 101% 101%;
	border-radius: 100px;
	width: 455px;
	height: 455px;
	margin: auto;
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.skyElement {
	width: 180px;
	height: 180px;
	border-radius: 100px;
	margin: 10px;
}

div[id="skyElement4"] {
	background: url("https://64.media.tumblr.com/346ac9ca3683a7360015ef53c8185d3c/tumblr_pnnzrvwjU61r30p8ao8_500.gifv") 10px 0px;
	background-size: 170% 101%;
	width: 180px;
	height: 180px;
	border-radius: 100px;
	margin: 10px;
}

footer {
	height: 160px;
	background: #AF7F7F;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 40px;
}

footer p {
	text-align: center;
	letter-spacing: 2em;
	font-size: 2em;
	color: white;
	font-style: italic;
}
