
body {
	margin: 0px;
	font-family: sans-serif;
}

h1 {
	background: #7F6FAF;
	color: white;
	border-radius: 0px 0px 100px 0px;
	padding: 14px 0px;
	padding-left: 10px;
	padding-right: 80px;
	width: 50%;
	min-width: 340px;
	font-style: italic;
	font-size: 1.7em;
}

main[id="page"] p {
	padding: 10px;
	font-size: 1.2em;
}

.imageType1 {
	width: 200px;
	height: 180px;
	border-radius: 4px;
	transition: all linear 400ms;
	margin-right: 10px;
	float: left;
}

.imageType1:hover {
	box-shadow: 5px 5px 40px #AFAFAF;
}

.rotateImage, .disappearReappearImage {
	width: 190px;
	height: 200px;
	border-radius: 10px;
	margin: 10px;
}

.sky {
	background: url("https://64.media.tumblr.com/04172a5e25ef95894e561e6f560c47a8/tumblr_oqx3xabGCS1uhjffgo1_500.gif");
	background-size: 101% 101%;
	border-radius: 100px;
	width: 540px;
	height: 500px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.skyElement {
	width: 180px;
	height: 180px;
	border-radius: 100px;
}

